<%= render "layouts/banner" %>

  <br>

<div class="container">
	<h2 class="text-center"> Gérer mes locations</h2>
	<br>
	<% if user_signed_in? %>
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Message</th>
		      <th scope="col">adresse de livraison</th>
		      <th scope="col">date de livraison</th>
		    </tr>
		  </thead>
			<% @rents.each do |rent| %>
			  <tbody>
		      <tr>
		        <td><%= rent.body %></td>
		        <td><%= rent.delivery_adress %></td>
		        <td><%= rent.delivery_time %></td>
		        <td><%= link_to 'Voir', post_rent_path(@post, rent) %></td>
		      </tr>
			  </tbody>
			<% end %>
		</table>
	<% else %>
		<%= render 'welcome' %>
	<% end %>
</div>
