<%= render "layouts/banner" %>


<div class="container" style="padding: 80px 0px;">
	<h2 class="text-center"> Ma location</h2>

	<br>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Titre de l'annonce</th>
        <th scope="col">Message du demandeur</th>
				<th scope="col">Adresse de livraison</th>
				<th scope="col">Jours & heures de livraison</th>
				<th scope="col">Status de la demande</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @post.title %></td>
        <td><%= @rent.body %></td>
				<td><%= @rent.delivery_adress %></td>
				<td><%= @rent.delivery_time %></td>
<!-- ==================================================================================== -->
				<%= form_for([@post, @post.rents.build]) do |form| %>
				    <table>
				        <tr>
				            <td><%= form.label 'activated_true', 'Yes' %></td>
				            <td><%= form.radio_button :activated, true %></td>
				        </tr>

				        <tr>
				            <td><%= form.label 'activated_false', 'No' %></td>
				            <td><%= form.radio_button :activated, false %></td>
				        </tr>
				    </table>

				    <%= form.submit 'Answer' %>
				<% end %>

<!-- ==================================================================================== -->
				<% if current_user.id == @post.user_id %>
					<td style="color: green;">validé la demande</td>
					<td style="color: red;">Refusée la demande</td>
				<% else %>
					<td>En attente</td>
				<% end %>
      </tr>
    </tbody>
	</table>
</div>

<%= render "layouts/footer" %>
