<%= render "layouts/banner" %>


<div class="container" style="padding: 80px 0px;">
	<h2 class="text-center">Fiche location</h2>

	<br>

  <table class="table table-striped" style="font-size: 14px;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Titre de l'annonce</th>
        <th scope="col">Message du demandeur</th>
				<th scope="col">Adresse de livraison</th>
				<th scope="col">Jours & heures de livraison</th>
				<th scope="col">Status de la demande</th>
				<th scope="col"> </th>
				<th scope="col"> </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @post.title %></td>
        <td><%= @rent.body %></td>
				<td><%= @rent.delivery_adress %></td>
				<td><%= @rent.delivery_time %></td>
				<% if current_user.id == @post.user_id %>
					<%= form_for([@post, @post.rents.build]) do |form| %>
		        <td>
							<%= form.label 'activated_true', 'Validé' %>
		        	<%= form.radio_button :activated, true %>
						</td>
	          <td>
							<%= form.label 'activated_false', 'Refusé' %>
	          	<%= form.radio_button :activated, false %>
						</td>
					  <td><%= form.submit 'Répondre' %></td>
					<% end %>
				<% else %>
					<td>il faut payé</td>
				<% end %>
      </tr>
    </tbody>
	</table>
</div>

<%= render "layouts/footer" %>
