
	<div class="main-banner banner text-center">
	  <div class="container">
			<h1>Location d'objet numériques entre particuliers</h1>
			<p>Gagner de l'argent grâce aux objets que vous n'utilisez plus</p>
			<%= link_to "Déposez une annonce", new_post_path %>
	  </div>
	</div>

		<!-- content-starts-here -->
		<div class="content">
			<div class="categories">
				<div class="container">
					<div class="col-md-4 focus-grid">
						<%= link_to offers_path(category: @categories[0].name) do %>
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-mobile"></i></div>
									<h4 class="clrchg">Mobiles</h4>
								</div>
							</div>
						<% end %>
					</div>
					<div class="col-md-4 focus-grid">
						<%= link_to offers_path(category: @categories[1].name) do %>
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-laptop"></i></div>
									<h4 class="clrchg"> Informatiques</h4>
								</div>
							</div>
						<% end %>
					</div>
					<div class="col-md-4 focus-grid">
						<%= link_to offers_path(category: @categories[2].name) do %>
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-gamepad"></i></div>
									<h4 class="clrchg">Consoles & Jeux videos</h4>
								</div>
							</div>
						<% end %>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
				<div class="trend-ads">
					<h2>Les dernières annonces</h2>
					<div class="row">
						<% @posts[0..3].each do |post| %>
							<div class="col-md-3 biseller-column">
								<%= link_to post do %>
									<%= image_tag(post.images_url.to_s) %>
								<% end %>
								<span class="price"><%= post.price %> €<span style="font-size: 10px;"> /jours</span></span>
								<div class="ad-info">
									<h5><%= post.title %></h5>
									<span><%= post.created_at.strftime("%d/%m/%Y") %></span>
								</div>
							</div>
						<% end %>
					</div>

					<hr>

					<div class="row">
						<% @posts[4..7].each do |post| %>
							<div class="col-md-3 biseller-column">
								<%= link_to post do %>
									<%= image_tag(post.images_url.to_s) %>
								<% end %>
								<span class="price"><%= post.price %> €<span style="font-size: 10px;"> /jours</span></span>
								<div class="ad-info">
									<h5><%= post.title %></h5>
									<span><%= post.created_at.strftime("%d/%m/%Y") %></span>
								</div>
							</div>
						<% end %>
					</div>

				</div>
			</div>
			<!-- //slider -->
			</div>
			<div class="mobile-app">
				<div class="container">
					<div class="col-md-5 app-left">
						<a href="mobileapp.html">
              <%= image_tag "app.png" %>
            </a>
					</div>
					<div class="col-md-7 app-right">
						<h3>Louer près de chez vous, au meilleur prix des objets numeriques</h3>
						<hr>
						<ol style="color: white; font-size: 18px; line-height: 2;">
							<li>Je poste ma demande</li>
							<li>On me répond</li>
							<li>J'accepte le proposition qui me convient</li>
						</ol>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>


		<%= render "layouts/footer" %>
