
	<div class="main-banner banner text-center">
	  <div class="container">
			<h1>Location d'objet numériques entre particuliers</h1>
			<p>Gagner de l'argent grâce à vos objets technologiques que vous n'utilisez plus</p>
			<%= link_to "Déposez une annonce", new_post_path %>
	  </div>
	</div>

		<!-- content-starts-here -->
		<div class="content">
			<div class="categories">
				<div class="container">
					<div class="col-md-4 focus-grid">
						<%= link_to offers_path(category: @categories[0].name) do %>
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-mobile"></i></div>
									<h4 class="clrchg">Mobiles</h4>
								</div>
							</div>
						<% end %>
					</div>
					<div class="col-md-4 focus-grid">
						<%= link_to offers_path(category: @categories[1].name) do %>
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-laptop"></i></div>
									<h4 class="clrchg"> Informatiques</h4>
								</div>
							</div>
						<% end %>
					</div>
					<div class="col-md-4 focus-grid">
						<%= link_to offers_path(category: @categories[2].name) do %>
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-gamepad"></i></div>
									<h4 class="clrchg">Consoles & Jeux videos</h4>
								</div>
							</div>
						<% end %>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
				<div class="trend-ads">
					<h2>Les dernières annonces</h2>
							<ul id="flexiselDemo3">
								<li>
									<% @posts[0..3].each do |post| %>
										<div class="col-md-3 biseller-column">
											<%= link_to post do %>
												<%= image_tag(post.images_url.to_s) %>
											<% end %>
											<span class="price"><%= post.price %> €<span style="font-size: 10px;"> /jours</span></span>
											<div class="ad-info">
												<h5><%= post.title %></h5>
												<span><%= post.created_at.strftime("%d/%m/%Y") %></span>
											</div>
										</div>
									<% end %>
								</li>

								<li>
									<% @posts[4..7].each do |post| %>
										<div class="col-md-3 biseller-column">
											<%= link_to post do %>
												<%= image_tag(post.images_url.to_s) %>
											<% end %>
											<span class="price"><%= post.price %> €<span style="font-size: 10px;"> /jours</span></span>
											<div class="ad-info">
												<h5><%= post.title %></h5>
												<span><%= post.created_at.strftime("%d/%m/%Y") %></span>
											</div>
										</div>
									<% end %>
								</li>

						</ul>

					</div>
			</div>
			<!-- //slider -->
			</div>
			<div class="mobile-app">
				<div class="container">
					<div class="col-md-5 app-left">
						<a href="mobileapp.html">
              <%= image_tag "app.png" %>
            </a>
					</div>
					<div class="col-md-7 app-right">
						<h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
						<div class="app-buttons">
							<div class="app-button">
								<a href="#">
                  <%= image_tag "1.png" %>
                </a>
							</div>
							<div class="app-button">
								<a href="#">
                  <%= image_tag "2.png" %>
                </a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>


		<%= render "layouts/footer" %>
