<%= render "layouts/banner" %>

	<!-- Products -->
	<div class="total-ads main-grid-border">
		<div class="container">
			<div class="select-box">
				<div class="search-product ads-list">
					<div class="search">
						<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class="form-control input-lg" placeholder="Ipad" />
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<ol class="breadcrumb" style="margin-bottom: 5px;">
			  <li><%= link_to "Accueil", root_path %></li>
			  <li class="active">Toutes les annonces</li>
			</ol>
			<div class="ads-grid">
				<div class="ads-display col-md-12">
					<div class="wrapper">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					  <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
						<li role="presentation" class="active">
						  <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
							<span class="text">Toutes les annonces</span>
						  </a>
						</li>
						<li role="presentation" class="next">
						  <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">
							<span class="text">Annonces avec photos</span>
						  </a>
						</li>
					  </ul>
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								
								<div class="clearfix"></div>
							<ul class="list">
                <% @posts.each do |post| %>
                  <%= link_to post do %>
                    <li>
                      <img src="images/m13.jpg" title="" alt="" />
      									<section class="list-left">
      									<h5 class="title">
                          <%= post.title %>
                        </h5>
      									<span class="adprice">
                          <%= post.price %> €<span style="font-size: 15px;"> /jours</span>
                        </span>
      									<p class="catpath"><%= post.category.name %></p>
      									</section>
      									<section class="list-right">
      									<span class="date">
                          <%= post.created_at.strftime("%d/%m/%Y") %>
                        </span>
      									<span class="cityname">
                          <%= post.location %>
                        </span>
      									</section>
      									<div class="clearfix"></div>
                      </li>
                  <% end %>
                <% end %>
							</ul>
						</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
						 <div>
												<div id="container">
								<div class="view-controls-list" id="viewcontrols">
									<label>view :</label>
									<a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
									<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
								</div>
								<div class="sort">
								   <div class="sort-by">
										<label>Sort By : </label>
										<select>
                      <option value="">Les plus récents</option>
                      <option value="">Tri: Prix croissants</option>
                      <option value="">Tri: Prix décroissants</option>
										</select>
									   </div>
									 </div>
								<div class="clearfix"></div>
							<ul class="list">
                <% @posts.each do |post| %>
                  <%= link_to post do %>
                    <li>
                      <img src="images/m13.jpg" title="" alt="" />
      									<section class="list-left">
      									<h5 class="title">
                          <%= post.title %>
                        </h5>
      									<span class="adprice">
                          <%= post.price %> €<span style="font-size: 15px;"> /jours</span>
                        </span>
      									<p class="catpath">Mobile Phones » Brand</p>
      									</section>
      									<section class="list-right">
      									<span class="date">
                          <%= post.created_at.strftime("%d/%m/%Y") %>
                        </span>
      									<span class="cityname">
                          <%= post.location %>
                        </span>
      									</section>
      									<div class="clearfix"></div>
                      </li>
                  <% end %>
                <% end %>
							</ul>
						</div>
							</div>
						</div>

						<%= will_paginate @posts, previous_label: "Précédent", next_label: "Suivant", inner_window: 1 %>

					  </div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- // Products -->
	<!--footer section start-->
	<%= render "layouts/footer" %>
