<div class="banner text-center">
	  <div class="container">
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      <%= link_to "Déposer une annonce", new_post_path %>
	  </div>
	</div>
	<!-- Products -->
	<div class="total-ads main-grid-border">
		<div class="container">
			<div class="select-box">
				<div class="browse-category ads-list">
					<label>Choisir une Categorie</label>
					<select class="selectpicker show-tick" data-live-search="true">
					  <option data-tokens="Mobiles">Toutes les catégories</option>
					  <option data-tokens="Mobiles">Mobiles</option>
					  <option data-tokens="Electronics & Appliances">Electronics & Appliances</option>
					  <option data-tokens="Cars">Cars</option>
					</select>
				</div>
				<div class="search-product ads-list">
					<label>Recherche un produit</label>
					<div class="search">
						<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class="form-control input-lg" placeholder="Ipad" />
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<ol class="breadcrumb" style="margin-bottom: 5px;">
			  <li><%= link_to "Accueil", root_path %></li>
			  <li class="active">Toutes les annonces</li>
			</ol>
			<div class="ads-grid">
				<div class="side-bar col-md-3">
					<div class="search-hotel">
					<h3 class="sear-head">Recherche</h3>
					<form>
						<input type="text" value="Produit..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
						<input type="submit" value=" ">
					</form>
				</div>

				<div class="range">
					<h3 class="sear-head">Price range</h3>
							<ul class="dropdown-menu6">
								<li>

									<div id="slider-range"></div>
										<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
									</li>
							</ul>
							<!---->

				</div>
				<div class="featured-ads">
					<h2 class="sear-head fer">Featured Ads</h2>
					<div class="featured-ad">
						<a href="single.html">
							<div class="featured-ad-left">
								<img src="images/f1.jpg" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
								<p>$ 450</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="single.html">
							<div class="featured-ad-left">
								<img src="images/f2.jpg" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
								<p>$ 380</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="single.html">
							<div class="featured-ad-left">
								<img src="images/f3.jpg" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
								<p>$ 560</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
				<div class="ads-display col-md-9">
					<div class="wrapper">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					  <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
						<li role="presentation" class="active">
						  <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
							<span class="text">Toutes les annonces</span>
						  </a>
						</li>
						<li role="presentation" class="next">
						  <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">
							<span class="text">Annonces avec photos</span>
						  </a>
						</li>
					  </ul>
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								<div class="view-controls-list" id="viewcontrols">
									<label>view :</label>
									<a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
									<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
								</div>
								<div class="sort">
								   <div class="sort-by">
										<label>Tri : </label>
										<select>
											<option value="">Les plus récents</option>
											<option value="">Tri: Prix croissants</option>
											<option value="">Tri: Prix décroissants</option>
										</select>
									   </div>
									 </div>
								<div class="clearfix"></div>
							<ul class="list">
                <% @posts.each do |post| %>
                  <%= link_to post do %>
                    <li>
                      <img src="images/m13.jpg" title="" alt="" />
      									<section class="list-left">
      									<h5 class="title">
                          <%= post.title %>
                        </h5>
      									<span class="adprice">
                          <%= post.price %> €<span style="font-size: 15px;"> /jours</span>
                        </span>
      									<p class="catpath">Mobile Phones » Brand</p>
      									</section>
      									<section class="list-right">
      									<span class="date">
                          <%= post.created_at.strftime("%d/%m/%Y") %>
                        </span>
      									<span class="cityname">
                          <%= post.location %>
                        </span>
      									</section>
      									<div class="clearfix"></div>
                      </li>
                  <% end %>
                <% end %>
							</ul>
						</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
						 <div>
												<div id="container">
								<div class="view-controls-list" id="viewcontrols">
									<label>view :</label>
									<a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
									<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
								</div>
								<div class="sort">
								   <div class="sort-by">
										<label>Sort By : </label>
										<select>
                      <option value="">Les plus récents</option>
                      <option value="">Tri: Prix croissants</option>
                      <option value="">Tri: Prix décroissants</option>
										</select>
									   </div>
									 </div>
								<div class="clearfix"></div>
							<ul class="list">
                <% @posts.each do |post| %>
                  <%= link_to post do %>
                    <li>
                      <img src="images/m13.jpg" title="" alt="" />
      									<section class="list-left">
      									<h5 class="title">
                          <%= post.title %>
                        </h5>
      									<span class="adprice">
                          <%= post.price %> €<span style="font-size: 15px;"> /jours</span>
                        </span>
      									<p class="catpath">Mobile Phones » Brand</p>
      									</section>
      									<section class="list-right">
      									<span class="date">
                          <%= post.created_at.strftime("%d/%m/%Y") %>
                        </span>
      									<span class="cityname">
                          <%= post.location %>
                        </span>
      									</section>
      									<div class="clearfix"></div>
                      </li>
                  <% end %>
                <% end %>
							</ul>
						</div>
							</div>
						</div>

						<%= will_paginate @posts, previous_label: "Précédent", next_label: "Suivant", inner_window: 1 %>

					  </div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- // Products -->
	<!--footer section start-->
	<%= render "layouts/footer" %>
