<%= render "layouts/banner" %>
<br>





<div class="container">
	<h2 class="text-center"> Mes locations</h2>
	<br>
  <table class="table table-striped">

		<thead class="thead-dark">
      <tr>
        <th scope="col">recipient</th>
        <th scope="col">titre du poste </th>
        <th scope="col">createur du post</th>
      </tr>
    </thead>
		
<!-- if current_user == demandeur -->
  <% @posts.each do |post| %>
    <% @rents.each do |rent| %>
      <tbody>
        <tr>
          <td><%= rent.recipient %></td>
          <td><%= post.title %></td>
          <td><%= post.user.email %></td>
          <td><%= link_to 'Voir', post_rent_path(post, rent) %></td>
          <td><%= link_to "validé"%></td>
        </tr>
      </tbody>
    <% end %>

<!-- Createur de l'annonce (proprio de l'objet) -->
		<% @rents_recipient.each do |rent| %>
      <tbody>
        <tr>
          <td><%= rent.recipient %></td>
          <td><%= post.title %></td>
          <td><%= post.user.email %></td>
          <td><%= link_to 'Voir', post_rent_path(post, rent) %></td>
          <td><%= link_to "validé"%></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</div>
