<%= render "layouts/banner" %>
<br>

<div class="container">
	<h2 class="text-center"> Mes locations</h2>

	<br>
  <table class="table table-striped">

		<thead class="thead-dark">
      <tr>
        <th scope="col">Titre de l'annonce </th>
				<th scope="col">Propriètaire de l'objet</th>
				<th scope="col">Status de la demande</th>
      </tr>
    </thead>

<!-- if current_user == demandeur -->
  <% @posts.each do |post| %>
    <% @rents.each do |rent| %>
      <tbody>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.user.email %></td>
					<% if rent.activated == true %>
						<td style="color: green;">Validé</td>
					<% elsif rent.activated == false %>
						<td style="color: red;">Refusée</td>
					<% else rent.activated == nil %>
						<td style="color: grey;">En attente</td>
					<% end %>
					<td><%= link_to 'Voir', post_rent_path(post, rent) %></td>
        </tr>
      </tbody>
    <% end %>

<!-- Createur de l'annonce (proprio de l'objet) -->
		<% @rents_recipient.each do |rent| %>
      <tbody>
				<tr>
          <td><%= post.title %></td>
          <td><%= post.user.email %></td>
					<% if rent.activated == true %>
						<td style="color: green;">Validé</td>
					<% elsif rent.activated == false %>
						<td style="color: red;">Refusée</td>
					<% else rent.activated == nil %>
						<td style="color: grey;">En attente</td>
					<% end %>
					<td><%= link_to 'Voir', post_rent_path(post, rent) %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</div>
