<%= render "layouts/banner" %>
	<!-- Submit Ad -->
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="head">Déposer une annonce</h2>

      <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

  			<div class="post-ad-form">
  				<form>						
            <div>
              <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Toutes nos categories" }, class: "phone" %>
            </div>

            <div class="clearfix"></div>

            <hr>

            <div class="clearfix"></div>

            <div>
              <label>
                <%= form.label :titre_de_votre_annonce %><span>*</span>
              </label>
            </div>
            <div>
              <%= form.text_field :title, class: "phone" %>
            </div>

            <div class="clearfix"></div>

            <div>
              <label><%= form.label :location %> <span>*</span></label>
            </div>
  					<div>
              <%= form.text_field :location, class: "phone" %>
            </div>

						<div class="clearfix"></div>

						<div>
							<label><%= form.label :dans_quelle_condition_est_votre_objet %>? <span>*</span></label>
						</div>
						<div>
							<%= form.text_field :state, class: "phone" %>
						</div>

						<div class="clearfix"></div>


            <div>
              <label><%= form.label :tarif_journalier %> <span>*</span></label>
            </div>
  					<div>
              <%= form.text_field :price, class: "phone" %>
            </div>

  					<div class="clearfix"></div>

            <div>
              <label><%= form.label :description %> <span>*</span></label>
            </div>
            <div>
              <%= form.text_area :description, placeholder: "Écrivez quelques lignes sur votre produit", class: "mess" %>
            </div>

  					<div class="clearfix"></div>
  					<div class="personal-details">
  						<p class="post-terms">En cliquant sur <strong>Déposer une annonce</strong> vous acceptez nos <a href="terms.html" target="_blank">Terms of Use </a> et nos <a href="privacy.html" target="_blank">Privacy Policy</a></p>
  					</div>

						<div class="actions" style="float: left;">
							<%= form.submit :deposer_une_annonce %>
						</div>
						<div class="clearfix"></div>

  			</div>
      <% end %>
		</div>
	</div>
	<!-- // Submit Ad -->
	<%= render "layouts/footer" %>
