<div class="banner text-center">
	  <div class="container">
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      <%= link_to "Déposer une annonce", new_post_path %>
	  </div>
	</div>

  <br>

<div class="container">
	<h2 class="text-center"> Gérer mes annonces</h2>
	<br>
	<% if user_signed_in? %>
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Titre</th>
		      <th scope="col">Description</th>
		      <th scope="col">Adresse</th>
					<th scope="col">Tarif</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
		    </tr>
		  </thead>
			<% @posts.each do |post| %>
			  <tbody>
		      <tr>
		        <td><%= post.title %></td>
		        <td><%= post.description %></td>
		        <td><%= post.location %></td>
						<td><%= post.price %></td>
		        <td><%= link_to 'Voir', post %></td>
		        <td><%= link_to 'Modifier', edit_post_path(post) %></td>
		        <td><%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
			  </tbody>
			<% end %>
		</table>
	<% else %>
		<%= render 'welcome' %>
	<% end %>
</div>
