	<%= render "layouts/banner" %>

  <br>

<div class="container" style="padding: 80px 0px;">
	<h2 class="text-center"> Gérer mes annonces</h2>
	<br>
	<% if user_signed_in? %>
		<table class="table table-striped" style="font-size: 14px;">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Titre</th>
		      <th scope="col">Description</th>
		      <th scope="col">Adresse</th>
					<th scope="col">Tarif</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
		    </tr>
		  </thead>
			<% @posts.each do |post| %>
			  <tbody>
		      <tr>
		        <td><%= post.title %></td>
		        <td><%= post.description %></td>
		        <td><%= post.location %></td>
						<td><%= number_to_currency post.price, unit: "€", separator: ",", format: "%n%u" %></td>
		        <td><%= link_to 'Voir', post %></td>
		        <td><%= link_to 'Modifier', edit_post_path(post) %></td>
		        <td><%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
			  </tbody>
			<% end %>
		</table>
	<% else %>
		<%= render 'welcome' %>
	<% end %>
</div>

<!-- footer -->
<%= render "layouts/footer" %>
