<div class="banner text-center">
	  <div class="container">
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
			<%= link_to "Déposez une annonce", new_post_path %>
	  </div>
	</div>
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<ol class="breadcrumb" style="margin-bottom: 5px;">
				<li><%= link_to "Accueil", root_path %></li>
				<li><%= link_to "Toutes les annonces", posts_path %></a></li>
				<li class="active"><%= @post.category.name %></li>
				<li class="active"><%= @post.title %></li>
			</ol>
			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2><%= @post.title %></h2>
					<p> <i class="glyphicon glyphicon-map-marker"></i><%= @post.location %> | Ajouté le <%= @post.created_at.strftime("%d/%m/%Y") %> à <%= @post.created_at.strftime("%H:%M:%S") %> </p>
					<div class="flexslider">
						<ul class="slides">
							<li>
                <%= image_tag(@post.images_url.to_s) %>
							</li>
						</ul>
					</div>

          <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
          $('.flexslider').flexslider({
          animation: "slide",
          });
        });
        </script>
					<!-- //FlexSlider -->
          <br>
          <hr>
					<div class="product-details">
					  <p><strong>Description</strong> : <%= @post.description %></p>
					</div>
				</div>

				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Tarif journaliers</p>
							<h3 class="rate"><%= @post.price %> €</h3>
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Condition de l'objet</p>
							<h4><%= @post.state %></h4>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Catégorie</p>
							<h4><%= @post.category.name %></h4>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="interested text-center">
						<% if @post.user_id != current_user.id %>
							<h4><%= link_to 'Faire un réservation', new_post_rent_path(@post) %></h4>
						<% else %>
							<h4>Vous êtes le createur de l'annonce </h4>
						<% end %>
					</div>
						<div class="tips">
						<h4>Gérer mon annonce</h4>
							<ul>
                <% if @post.user_id == current_user %>
                  <li><%= link_to 'Modifier mon annonce', edit_post_path(@post) %></li>
                  <li><%= link_to 'Supprimer', @post, method: :delete, data: { confirm: 'sure?' } %></li>
                <% end %>
							</ul>
						</div>
				</div>

			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//single-page-->
	<%= render "layouts/footer" %>
