<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <td>Montant: <%= @post.price %></td>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Le premier mois de location"
          data-amount="<%= @post.price * 100%>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>
